{% extends "coverletter_site/base/main.html" %}
{% block main_area %}

<div class="container">
    <div class="row d-flex align-items-center h-100">
        <div class="col-lg-12">
            <span class="upload_title"><h1>맞춤법 검사</h1></span>
        </div>
    </div>
    <div class="linebox"></div>
    <div class="card">
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col mb-2">
                <div class="card border-primary">
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight: bold">이력서 작성</h5>
                        <div class="linebox_detail"></div>
                    </div>
                </div>
            </div>
            <div class="col mb-2">
                <div class="card border-primary">
                    <div class="card-body ">
                        <h5 class="card-title" style="font-weight: bold">검사</h5>
                        <div class="linebox_detail"></div>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}