{% extends "coverletter_site/base/main.html" %}

{% block title %}결과{% endblock%}

{% block main_area %}
<div class="container">
    <h1>검사 결과</h1>
    <br>
    <div>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control" type="search" placeholder="검색" aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">검색</button>
        </form>
        <br>
        <!--        <table class="table">-->
        <!--            {% for cl in coverletter_list %}-->
        <!--            <tr>-->
        <!--                <td>-->
        <!--                    <a>{{cl}}</a>-->
        <!--                </td>-->
        <!--            </tr>-->
        <!--            {% endfor %}-->
        <!--        </table>-->
        <table class="table table-hover">
            <thead>
            <tr>
                <th>no</th>
                <th>이력서 이름</th>
                <th>표절율</th>
                <th>검사 결과</th>
                <th>날짜</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>가나다라</td>
                <td>15%</td>
                <td>표절</td>
                <td>2023.11.17</td>
            </tr>
            <tr>
                <td>2</td>
                <td>abcde</td>
                <td>90%</td>
                <td>표절아님 아마도</td>
                <td>2023.11.17</td>
            </tr>
            </tbody>
        </table>
        <hr>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </div>
</div>
{% endblock%}