{% load static %}
<footer>
    <div class="container" style=" color: black; height: 160px;">
        <div class="upload_tr"></div>
        <div class="d-flex justify-content-center" style="font-weight: bold">
            <div style="font-size: 15px; width: 1100px;" class="d-flex justify-content-center">
                공지사항
                <div style="margin: 5px; height: 20px; width: 2px; background-color: rgb(192, 192, 192); position: relative; top: 2px;"></div>
                이용약관
                <div style="margin: 5px; height: 20px; width: 2px; background-color: rgb(192, 192, 192); position: relative; top: 2px;"></div>
                개인정보취급방침
            </div>
        </div>
        <div style="position: relative; top: 20px;">
            <div style="font-size: 20px; width: 1100px;" class="d-flex justify-content-center">
                서울 강남구 테헤란로 2길 10 KIC캠퍼스
                <div style="margin: 5px; height: 20px; width: 2px; background-color: rgb(192, 192, 192); position: relative; top: 2px;"></div>
                tel) 02-1234-5678
                <div style="margin: 5px; height: 20px; width: 2px; background-color: rgb(192, 192, 192); position: relative; top: 2px;"></div>
                Fax) 02-9876-5432
            </div>
        </div>
        <div class="imgbox">
            <div class="d-flex justify-content-end">
                <a href="https://twitter.com/?lang=ko" class="img_site">
                    <img class="img_logo" src="{% static 'images/twitter.png' %}" alt="트위터 이미지"
                         style="width: 40px; height: 40px;">
                </a>
                <a href="https://www.instagram.com/" class="img_site">
                    <img class="img_logo" src="{% static 'images/instagram.png' %}"
                         alt="인스타그램 이미지"
                         style="width: 40px; height: 40px;">
                </a>
                <a href="https://www.google.com/" class="img_site">
                    <img class="img_logo" src="{% static 'images/google.png' %}" alt="구글 이미지"
                         style="width: 40px; height: 40px;">
                </a>
                <a href="https://www.facebook.com/" class="img_site">
                    <img class="img_logo" src="{% static 'images/facebook.png' %}" alt="페이스북 이미지"
                         style="width: 40px; height: 40px;">
                </a>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div style="font-size: 20px; width: 1100px; color: #a9a9a9" class="d-flex justify-content-center">
                Copyright © team2 Inc. All rights reserved. Since 2023
            </div>
        </div>
    </div>
</footer>