{% load static %}
<footer>
    <div class="container" style="font-weight: bold; color: black; height: 160px;">
        <div class="upload_tr"></div>
        <div class="d-flex justify-content-start">
            <h1>조 이름 안정해주면 보노보노가 될 운명</h1>
        </div>
        <div>
            <span>조장 김아람</span>
            <br>
            <span>부조장 노건우</span>
            <br>
            <span>전병호  이지헌  김영환  박지현  김현</span>
        </div>
        <div class="imgbox">
            <div class="d-flex justify-content-end">
                <a href="https://twitter.com/?lang=ko" class="img_site">
                    <img class="img_logo" src="{% static 'images/twitter.png' %}" alt="트위터 이미지"
                         style="width: 40px; height: 40px;">
                </a>
                <a href="https://www.instagram.com/" class="img_site">
                    <img class="img_logo" src="{% static 'images/instagram.png' %}"
                         alt="인스타그램 이미지"
                         style="width: 40px; height: 40px;">
                </a>
                <a href="https://www.google.com/" class="img_site">
                    <img class="img_logo" src="{% static 'images/google.png' %}" alt="구글 이미지"
                         style="width: 40px; height: 40px;">
                </a>
                <a href="https://www.facebook.com/" class="img_site">
                    <img class="img_logo" src="{% static 'images/facebook.png' %}" alt="페이스북 이미지"
                         style="width: 40px; height: 40px;">
                </a>
            </div>
        </div>
    </div>
</footer>