{% load static %}
<nav class="navbar navbar-expand-lg navbar-light align-center">
    <div class="container">
        <div>
            <a href="/" id="logo">
                Bonoscan
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="container d-flex align-items-center">
                <div class="menubox">
                    <div class="navbar-nav mr-auto d-flex align-items-center font-weight-bold">
                        <div class="marginbox">
                            <div class="nav-item active">
                                <a class="nav-link" href="{% url 'howtouse' %}">이용 방법<span class="sr-only">(current)</span></a>
                            </div>
                        </div>
                        <div class="dropdown show">
                            <div class="marginbox">
                                <button class="btn dropdown font-weight-bold" role="button" id="dropdownMenuLink"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    표절 검사
                                </button>
                            </div>
                            <div class="dropdown-menu2">
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="/coverletter/upload">문서 등록</a>
                                    <a class="dropdown-item" href="/coverletter/list">검사 목록</a>
                                </div>
                            </div>
                        </div>
                        <div class="marginbox">
                            <div class="nav-item active">
                                <a class="nav-link " href="{% url 'review_list' %}">이용 후기</a>
                            </div>
                        </div>
                        <div class="dropdown show">
                            <div class="marginbox">
                                <button class="btn dropdown font-weight-bold" role="button" id="dropdownMenuLink"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    글쓰기 도구
                                </button>
                            </div>
                            <div class="dropdown-menu2">
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="/count">글자수 세기</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="navbar-nav" style="font-size: 14px;">
                    {% if user.is_authenticated %}
                    <div class="d-flex align-items-center">
                        <a href="/mypage" class="nav-link">마이페이지</a>
                        <span class="mx-2"> </span>
                        <a href="{% url 'logout' %}" class="nav-link">로그아웃</a>
                    </div>
                    {% else %}
                    <div class="d-flex align-items-center">
                        <a href="{% url 'login' %}" class="nav-link">로그인</a>
                        <span class="mx-2"> </span>
                        <a href="{% url 'join' %}" class="nav-link">회원가입</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="nav_line"></div>