nav {
    margin-bottom: 10px;
    height: 80px
}

.nav_line{
margin-bottom: 60px;
background-color: #01aaef;
height: 3px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.dropdown-menu{
    min-width: 0px;
    position: relative;
    left : -15px;
}

.dropdown-menu2{
    min-width: 0px;
    position: relative;
    left : 30px;
}

.menubox{
    position: relative;
    left: 60px;
    /*font-weight: bold;*/
}

.marginbox{
    margin-left: 25px;
    margin-right: 25px;
}

#table_border_zero{
    border-top: 0px;
}

#wrapper{
  height: auto;
  min-height: calc(100vh - 300px); /* footer 높이를 빼준다. */
  padding-bottom: 50px;
}
footer{
  height: 160px;
  position : relative;
  /*border-top: 3px solid #01aaef;*/
  /*background-color: #e9ecef;*/
}

.imgbox{
    position: relative;
    bottom: 50px;
    left: 30px;
}

.img_site{
    margin-left: 15px;
}

#logo{
    font-weight: bold;
    font-size: 2em;
    text-decoration-line: none;
    color: #01aaef;
}