/*
    클래스 이름 겹치지 않게 따로 만들어 놓았습니다. 필요없으면 제거해놓겠습니다.
    upload말고도 사용되고 있습니다.

 */

.upload_title{
    border-left: #01aaef 4px solid;
    padding-left: 20px;
    display: inline-block;
    margin-bottom: 25px;
    margin-top: 0px;
}

/* 각 바디의 타이틀css */

.upload_th{
    padding-right: 30px;
}

/* 문서 업로드 화면의 th 따로 이름 지정 */

.upload_select_text{
    padding-left: 10px;
    padding-right: 15px;
    color: orange;
}
/* 문서 업로드 화면의 검사설정 부분 패딩값 추가와 '제외' 글씨 컬러 */

.upload_tr{
    height: 20px
}

/* 테이블 tr마다 높이 지정해서 벌려놓았습니다. */

.linebox{
    width: 100%;
    height: 3px;
    background-color: #01aaef;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* 바디의 타이틀 밑에 들어가는 선입니다. */

.linebox_table{
    width: 100%;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin-top: 20px;
    margin-bottom: 20px;
}

/* 테이블 밑에 들어가는 선입니다. */

/*
#button_list{
    position: relative;
    left: 400px;
}*/

.linebox_detail{
    width: 100%;
    height: 3px;
    background-color: #01aaef;
    margin-bottom: 20px;
}

/* 바디의 타이틀 밑에 들어가는 선입니다. */

.details_br{
    height: 5px
}

.table_border_bottom{
    border-bottom: 1px solid #01aaef;
}

.input-file-button{
  padding: 6px 25px;
  background-color:#FF6600;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.count_box{
    width: 2px;
    background-color: #01aaef;
    height: 25px;
    margin-left: 15px;
    margin-right: 15px;
}

#search_button{
    position: relative;
    bottom : 38px;
    left: 310px;
}