{% extends "base/main.html" %}
{% block main_area %}

<div class="container">
    <div class="row d-flex align-items-center h-100">
        <div class="col-lg-12">
            <span class="upload_title"><h1>글자 수 세기</h1></span>
        </div>
    </div>
    <div class="upload_tr"></div>
    <!--<div class="box_header">
            sdgfasdfasf
    </div>
    <div class="box_body">
            sdgfasdfasf
    </div>-->
    <div class="row row-cols">
        <div class="col mb-2">
            <div class="card border-primary" style="height: 735px">
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <h5 class="card-title" style="font-weight: bold">검사 문장</h5>
                            <div class="linebox_detail"></div>
                            <div class="card-body d-flex justify-content-center">
                                <div>
                                    <span style="font-weight: bold"><span>공백 포함 : 총 <span>0</span> 자</span><span>( <span>0</span> Byte)</span></span>
                                </div>
                                <div class="count_box"></div>
                                <div>
                                    <span style="font-weight: bold"><span>공백 제외 : 총 <span>0</span> 자</span><span>( <span>0</span> Byte)</span></span>
                                </div>
                            </div>
                            <div class="card-body">
                            <textarea class="form-control" rows="3" style="height: 430px; resize: none;"
                                      placeholder="글을 작성해주세요"></textarea>
                            </div>
                            <div class="card-body d-flex justify-content-center">
                                <div>
                                    <button type="reset" class="btn btn-light" style="width: 300px">초기화</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}