{% extends "base/main.html" %}
{% block main_area %}

<div class="container">
    <div class="row d-flex align-items-center h-100">
        <div class="col-lg-12">
            <span class="upload_title"><h1>글자수 세기</h1></span>
        </div>
    </div>
    <div class="linebox"></div>
    <div>
        <span>공백 포함 : 총 <span>0</span>자</span><span>(<span>0</span> Byte)</span> |
        <span>공백 제외 : 총 <span>0</span>자</span><span>(<span>0</span> Byte)</span>
        <!-- 숫자 0있는 곳이 count되는 곳입니다. -->
    </div>
    <div>
        <form>
            <input type="textarea" placeholder="자기소개서에 들어갈 글을 직접 작성하거나, 복사해서 붙여주시면 글자수가 계산됩니다.">
            <!-- 이력서 글 넣는 곳 -->
            <button type="reset">초기화</button>
        </form>
    </div>
</div>

{% endblock %}