{% extends "base/main.html" %}
{% block head_content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}
{% block main_area %}

<div class="container">
    <div class="row d-flex align-items-center h-100">
        <div class="col-lg-12">
            <span class="upload_title"><h1>글자 수 세기</h1></span>
        </div>
    </div>
    <div class="upload_tr"></div>
    <div class="row row-cols">
        <div class="col mb-2">
            <div class="card border-primary" style="height: 735px">
                <div class="card-body">
                    <form id="characterCountForm">
                        {% csrf_token %}
                        <div class="form-group">
                            <h5 class="card-title" style="font-weight: bold">검사 문장</h5>
                            <div class="linebox_detail"></div>
                            <div class="card-body d-flex justify-content-center">
                                <div>
                                    <span style="font-weight: bold"><span>공백 포함 : 총 <span class="total_characters"></span> 자</span><span>( <span class="total_bytes"></span> Byte)</span></span>
                                </div>
                                <div class="count_box"></div>
                                <div>
                                    <span style="font-weight: bold"><span>공백 제외 : 총 <span class="total_characters_no_spaces"></span> 자</span></span>
                                </div>
                            </div>
                            <div class="card-body">
                            <textarea id="inputText" class="form-control" rows="3" style="height: 430px; resize: none;"
                                      placeholder="글을 작성해주세요"></textarea>
                            </div>
                            <div class="card-body d-flex justify-content-center">
                                <div class="m-2">
                                    <button type="button" class="btn btn-primary" style="width: 150px" id="checkButton">검사하기</button>
                                </div>
                                <div class="m-2">
                                    <button id="resetButton" type="reset" class="btn btn-light" style="width: 150px">초기화</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const inputText = document.getElementById('inputText');
        const totalCharactersSpan = document.querySelector('.total_characters');
        const totalCharactersNoSpacesSpan = document.querySelector('.total_characters_no_spaces');
        const totalBytesSpan = document.querySelector('.total_bytes');
        const totalBytesNoSpacesSpan = document.querySelector('.total_bytes_no_spaces');

        const checkButton = document.getElementById('checkButton');
        if (checkButton) {
            checkButton.addEventListener('click', function () {
                const text = inputText.value;

                fetch('/count/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCSRFToken()
                    },
                    body: JSON.stringify({ text: text })
                })
                .then(response => response.json())
                .then(data => {
                    totalCharactersSpan.textContent = data.total_characters;
                    totalCharactersNoSpacesSpan.textContent = data.total_characters_without_spaces;
                    totalBytesSpan.textContent = data.total_bytes;
                    totalBytesNoSpacesSpan.textContent = data.total_bytes_without_spaces;
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            });
        } else {
            console.error('Button not found.');
        }

        const resetButton = document.getElementById('resetButton');
        if (resetButton) {
            resetButton.addEventListener('click', function () {
                resetValues();
            });
        } else {
            console.error('Reset button not found.');
        }
    });

    function getCSRFToken() {
        const csrfTokenInput = document.querySelector('input[name="csrfmiddlewaretoken"]');
        return csrfTokenInput ? csrfTokenInput.value : '';
    }

    function resetValues() {
        const totalCharactersSpan = document.querySelector('.total_characters span');
        const totalCharactersNoSpacesSpan = document.querySelector('.total_characters_no_spaces span');
        const totalBytesSpan = document.querySelector('.total_bytes span');
        const totalBytesNoSpacesSpan = document.querySelector('.total_bytes_no_spaces span');

        if (totalCharactersSpan) {
            totalCharactersSpan.textContent = '';
        }
        if (totalCharactersNoSpacesSpan) {
            totalCharactersNoSpacesSpan.textContent = '';
        }
        if (totalBytesSpan) {
            totalBytesSpan.textContent = '';
        }
        if (totalBytesNoSpacesSpan) {
            totalBytesNoSpacesSpan.textContent = '';
        }
        inputText.value = '';
    }
</script>
{% endblock %}
