<!-- member/editpassword.html -->

{% extends "base/main.html" %}
{% load static %}

{% block main_area %}
<div class="container" style="width: 1000px;">
    <div class="row d-flex align-items-center h-100">
        <div class="col-lg-12">
            <span class="upload_title"><h1>비밀번호 재설정</h1></span>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <form method="POST" novalidate>
                    {% csrf_token %}
                    <div>
                        <label for="{{ password_change_form.old_password.id_for_label }}">
                            {{ password_change_form.old_password.label }}</label>
                        {{ password_change_form.old_password }}
                        {% if password_change_form.old_password.errors %}
                        {% for error in password_change_form.old_password.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="upload_tr"></div>
                    <div>
                        <label for="{{ password_change_form.new_password1.id_for_label }}">
                            {{ password_change_form.new_password1.label }}</label>
                        {{ password_change_form.new_password1 }}
                        {% if password_change_form.new_password1.errors %}
                        {% for error in password_change_form.new_password1.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="upload_tr"></div>
                    <div>
                        <label for="{{ password_change_form.new_password2.id_for_label }}">
                            {{ password_change_form.new_password2.label }}</label>
                        {{ password_change_form.new_password2 }}
                        {% if password_change_form.new_password2.errors %}
                        {% for error in password_change_form.new_password2.errors %}
                        <div style="white-space: nowrap;" class="invalid-feedback">
                            {{ error }}
                        </div>
                        {% endfor %}
                        {% endif %}
                        <small>
                            최소 8개의 숫자와 문자 또는 특수기호를 입력해주세요.
                        </small>
                        <div class="card-body d-flex justify-content-center">
                            <div class="m-2">
                                <button type="submit" class="btn btn-primary" id="detail_btn">변경하기</button>
                            </div>
                            <div class="m-2">
                                <a href="{% url 'mypage' %}" class="btn btn-primary" id="back_btn">취소</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
