{% extends "base/main.html" %}
{% load crispy_forms_tags %}

{% block title %}메인 페이지{% endblock%}

{% block main_area %}
<div class="container">
   <form method="post">
      {% csrf_token %}
      {{ form | crispy }}
      <input type="submit" class="btn btn-primary">
   </form>
   <div style="float: right">
      <a href="{% url 'findid' %}">아이디 찾기&nbsp;&nbsp;</a>|
      <a href="{% url 'findpassword' %}">&nbsp;비밀번호 찾기&nbsp;&nbsp;</a>|
      <a href="{% url 'join'%}">&nbsp;회원가입</a>
   </div>
</div>
{% endblock%}