{% extends "base/main.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}마이페이지{% endblock%}

{% block main_area %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title" style="font-weight: bold;"><span>산와머니</span></h3>
            <h5 class="card-title" style="font-weight: bold;"><span>닉네임(정보수정 누르면 나오는 화면)</span></h5>
            <div class="upload_tr"></div>
            <div class="container">
                <div class="d-flex justify-content-center">
                    <form action="{% url 'user_update' %}" method="post">
                        {% csrf_token %}
                        {{ form | crispy }}
                            <div class="card-body d-flex justify-content-center">
                                <div class="m-2">
                                    <input type="submit" class="btn btn-primary" style="width: 150px" value="수정 완료">
                                </div>
                                <div class="m-2">
                                    <a type="button" class="btn btn-primary" href="/pw_edit"
                                       style="width: 150px">비밀번호 재설정</a>
                                </div>
                                <div class="m-2">
                                    <a type="button" class="btn btn-light" href="/mypage"
                                       style="width: 150px">취소</a>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}