{% extends "base/main.html" %}

{% block title %}마이페이지{% endblock%}

{% block main_area %}
<div class="container">
    <div class="d-flex align-items-center h-100">
        <div class="col-lg-12">
            <span class="upload_title"><h1>마이페이지</h1></span>
        </div>
    </div>
    <div class="linebox"></div>
    <div class="upload_tr"></div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title" style="font-weight: bold;"><span>산와머니</span></h5>
            <form>
                <div class="form-group d-flex justify-content-center">
                    <div style="width: 100px; height: 40px;">
                        <span for="exampleInputPassword1" class="align-bottom"
                              style="margin: 0; font-size: 20px">비밀번호</span>
                    </div>
                    <input type="password" class="form-control" id="exampleInputPassword1" style="width: 500px;">
                </div>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary" style="width: 150px; height: 40px">확인</button>
                </div>
            </form>
        </div>
    </div>
    <div class="upload_tr"></div>

    <!-- 비밀번호가 맞으면 나올 마이페이지 -->
    <div class="card">
        <div class="card-body">
            <h5 class="card-title" style="font-weight: bold;"><span>산와머니</span></h5>
            <form>
<!--                <div class="form-group">-->
<!--                    <label>Password</label>-->
<!--                    <input type="text" class="form-control">-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label for="exampleInputPassword1">Password</label>-->
<!--                    <input type="text" class="form-control">-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label for="exampleInputEmail1">Email address</label>-->
<!--                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">-->
<!--                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone-->
<!--                        else.</small>-->
<!--                </div>-->
<!--                <div class="form-group form-check">-->
<!--                    <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
<!--                    <label class="form-check-label" for="exampleCheck1">Check me out</label>-->
<!--                </div>-->
<!--                <button type="submit" class="btn btn-primary">Submit</button>-->
            </form>
        </div>
    </div>
</div>
{% endblock %}