 nav{
    margin-bottom: 10px;
    height: 80px
 }

 .nav_line{
    margin-bottom: 60px;
    background-color: #01aaef;
    height: 3px;
 }

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;

}

.dropdown-menu{
    min-width: 0px;
    position: relative;
    left : -15px;
}

.dropdown-menu2{
    min-width: 0px;
    position: relative;
    left : 30px;
}

.menubox{
    position: relative;
    left: 60px;
    /*font-weight: bold;*/
}

.marginbox{
    margin-left: 25px;
    margin-right: 25px;
}


