{% extends "base/main.html" %}

{% block title %}표절 검사 상세창{% endblock%}

{% block main_area %}
<div class="container">
    <!--<div>
        <span>검사 설정</span>
    </div>-->
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col mb-4">
            <div class="card border-primary">
                <div class="card-body">
                    <h5 class="card-title" style="font-weight: bold"><span>김자바</span>의 이력서</h5>
                    <div class="linebox_detail"></div>
                    <table class="table">
                        <tr>
                            <th class="table_border_bottom" style="border-top: 0;">표절률</th>
                            <td class="table_border_bottom" style="border-top: 0;">8.7%</td>
                        </tr>
                        <tr>
                            <th class="table_border_bottom" style="border-top: 0;">최고 표절률</th>
                            <td class="table_border_bottom" style="border-top: 0;">80.0%</td>
                        </tr>
                        <tr>
                            <th class="table_border_bottom" style="border-top: 0;">전체 문장</th>
                            <td class="table_border_bottom" style="border-top: 0;"><span>40</span>문장</td>
                        </tr>
                        <tr>
                            <th class="table_border_bottom" style="border-top: 0;">의심 문장</th>
                            <td class="table_border_bottom" style="border-top: 0;"><span>10</span>문장</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card border-primary">
                <div class="card-body ">
                    <h5 class="card-title" style="font-weight: bold">그래프같이 시각화 할수 있는 자료놓는 곳</h5>
                    <div class="linebox_detail"></div>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div id="detail_list" class="list-group">
            <div class="col mb-4">
                <div class="card border-primary overflow-auto" style="max-height: 800px">
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight: bold">검사 문장</h5>
                        <div class="linebox_detail"></div>
                        {% for plagiarism in plagiarism_list %}
                        <div class="card">
                            <div class="card-header align-middle d-flex justify-content-end" style="height: 40px">
                                <h6 class="card-title">문장 표절률 : <span>{{ plagiarism.get_result_per }}</span>%</h6>
                            </div>
                            <a class="list-group-item list-group-item-action" href="#detail_1">
                                <!-- 검사문서의 카드 바디부분을 클릭하면 표절 검사 결과 문장의 번호에 맞게 이동합니다. -->
                                <div class="card-body">
                                    <span>{{ plagiarism.query_sentence }}</span>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                        <div class="details_br"></div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div data-spy="scroll" data-target="#detail_list" data-offset="0" class="scrollspy-example">
                <div class="card border-info overflow-auto" style="max-height: 800px">
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight: bold">표절 검사 결과</h5>
                        <div class="linebox_detail"></div>
                        {% for plagiarism in plagiarism_list %}
                        <div class="card border-danger">
                            <div class="card-header text-white bg-danger border-danger align-middle"
                                 style="height: 40px">
                                <h6 class="card-title" id="detail_1">1번 문장</h6>
                                <!-- 검사 문장에서 첫 번째를 클릭하면 여기로 옵니다. -->
                            </div>
                            <div class="card-body">
                                <span>{{ plagiarism.query_sentence }}</span>
                            </div>
                            <div class="card-body">
                                <span>'저'</span>,<span>'패션'</span>,<span
                                    style="color: red">'인간'</span>,<span>'매일'</span>,<span>'가장'</span>,<span>'문화'</span>,<span>'예술'</span>
                            </div>
                        </div>
                        <div class="details_br"></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}