{% extends "base/main.html" %}

{% block title %}표절 검사 상세창{% endblock%}

{% block main_area %}
<div class="container">
    <!--<div>
        <span>검사 설정</span>
    </div>-->
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col mb-4">
            <div class="card border-primary">
                <div class="card-body">
                    <h5 class="card-title" style="font-weight: bold"><span>{{coverletter.title}}</span> 자기소개서</h5>
                    <div class="linebox_detail"></div>
                    <table class="table">
                        <tr>
                            <th class="table_border_bottom" style="border-top: 0;">표절률</th>
                            <td class="table_border_bottom" style="border-top: 0;">{{ coverletter.get_rate_per }}%</td>
                        </tr>
                        <tr>
                            <th class="table_border_bottom" style="border-top: 0;">최고 표절률</th>
                            <td class="table_border_bottom" style="border-top: 0;">{{ max_reulst }}%</td>
                        </tr>
                        <tr>
                            <th class="table_border_bottom" style="border-top: 0;">전체 문장</th>
                            <td class="table_border_bottom" style="border-top: 0;">
                                <span>{{ plagiarism_list | length }}</span>문장
                            </td>
                        </tr>
                        <tr>
                            <th class="table_border_bottom" style="border-top: 0;">의심 문장</th>
                            <td class="table_border_bottom" style="border-top: 0;">
                                <span>{{ plagiarism_sentence_count }}</span>문장
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card border-primary">
                <div class="card-body ">
                    <h5 class="card-title" style="font-weight: bold">표절률 그래프</h5>
                    <div class="linebox_detail"></div>
                    <div class="chart-wrapper">
                        <div class="rate-chart" style="height: 300px; width: 400px;">
                            <canvas id='rate-chart'></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="detail_list" class="list-group">
            <div class="col mb-4">
                <div class="card border-primary overflow-auto" style="max-height: 800px">
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight: bold">검사 문장</h5>
                        <div class="linebox_detail"></div>
                        {% for plagiarism in plagiarism_list %}
                        <div class="card">
                            <div class="card-header align-middle d-flex justify-content-end" style="height: 40px">
                                <h6 class="card-title">문장 표절률 : <span>{{ plagiarism.get_result_per }}</span>%</h6>
                            </div>
                            <a class="list-group-item-action" href="#detail_{{plagiarism.sequence_number}}">
                                <div class="card-body">
                                    <span>{{ plagiarism.query_sentence }}</span>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                        <div class="details_br"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div data-spy="scroll" data-target="#detail_list" data-offset="0" class="scrollspy-example">
                <div class="card border-info overflow-auto" style="max-height: 800px">
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight: bold">표절 검사 결과</h5>
                        <div class="linebox_detail"></div>
                        {% for plagiarism in plagiarism_list %}
                        {% if plagiarism.result <= 0.5 %}
                        <div class="card border-success">
                            <div class="card-header text-white bg-success border-success align-middle" style="height: 40px">
                        {% else %}
                        <div class="card border-danger">
                            <div class="card-header text-white bg-danger border-danger align-middle" style="height: 40px">
                        {% endif %}
                            <h6 class="card-title" id="detail_{{plagiarism.sequence_number}}">{{ plagiarism.sequence_number|add:1 }}번 문장</h6>
                        </div>
                        <div class="card-body">
                            <span>{{ plagiarism.query_sentence }}</span>
                        </div>
                        {% if plagiarism.result > 0.5 %}
                        <div class="card-body">
                            <span>{{ plagiarism.most_similar }}</span>
                        </div>
                        {% endif %}
                    </div>
                    <div class="details_br"></div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
{% if coverletter.get_rate_per %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
    const rateCtx = document.getElementById('rate-chart').getContext('2d');
    const rateChart = new Chart(rateCtx, {
        type: 'pie',
        data: {
        labels: ['표절', '표절x'],
        datasets: [{
            label: '표절 통계',
            data: [{{ coverletter.get_rate_per }}, {{ coverletter.get_rate_per_not }}],
            backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(255, 159, 64, 0.2)',
            ],
            borderColor: [
            'rgb(255, 99, 132)',
            'rgb(255, 159, 64)',
            ],
            borderWidth: 1
        }]
    },
    })
    </script>
{% endif %}
{% endblock %}
