{% extends "base/main.html" %}
{% load static %}

{% block title %}문서 업로드{% endblock%}

{% block head_content %}
<style>
    #loading {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: fixed;
        display: block;
        background: #ededed;
        opacity: 0.7;
        z-index: 99;
        text-align: center;
    }
    #loading > #loading_bar {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 100;
        transform : translate(-50%, -50%);
    }
</style>
{% endblock %}

{% block main_area %}

<div id="loading" style="display: none; ">
    <div id="loading_bar">
        <!-- 로딩바의 경로를 img 태그안에 지정해준다. -->
        <img src="{% static 'images/spin-loading.gif' %}">
        <p style="font-size: x-large; font-weight: bold;">로딩 중 입니다 ...</p>
    </div>
</div>

<div class="container h-100">
    <div class="row d-flex align-items-center h-100">
        <div class="col-lg-12">
            <span class="upload_title"><h1>문서 등록</h1></span>
        </div>
    </div>
    <div class="linebox"></div>
    <div class="card-body">
        <form method="post" enctype="multipart/form-data" name="coverletter_form">
            <div class="form-group row">
                {% csrf_token %}
                <table>
                    <tr>
                        <th style="width: 115px;">
                            <h5 style="font-weight: bold;">문서 유형</h5>
                            <div class="upload_tr"></div>
                        </th>
                        <td>
                            <div class="form-group" style="width: 200px;">
                                <select class="custom-select" name="document_type">
                                    <option>선택해주세요</option>
                                    <option value="1">입사 포부</option>
                                    <option value="2">지원 동기</option>
                                    <option value="3">성격</option>
                                    <option value="4">팀워크</option>
                                    <option value="5">기타</option>
                                </select>
                            </div>
                            <div class="upload_tr"></div>
                        </td>
                    </tr>
                    <tr>
                        <th style="padding-right: 15px;">
                            <h5 style="font-weight: bold;">제목</h5>
                            <div class="upload_tr"></div>
                        </th>
                        <td>
                            <div style="width: 300px">
                                <input class="form-control" type="text" placeholder="제목을 입력해주세요" name="title">
                            </div>
                            <div class="upload_tr"></div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <h5 style="font-weight: bold;">내용</h5>
                            <div class="upload_tr"></div>
                        </th>
                        <td>
                            <div style="width: 1000px;">
                            <textarea class="form-control" style="height: 300px; resize: none;"
                                      placeholder="내용을 입력해주세요" name="content"></textarea>
                            </div>
                            <div class="upload_tr"></div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="linebox_table"></div>
            <div class="d-flex justify-content-end">
                <div class="m-2">
                    <input type="submit" class="btn btn-primary" style="width: 150px" value="작성 완료"/>
                </div>
                <div class="m-2">
                    <a type="button" class="btn btn-light" href="{% url 'result_list' %}" style="width: 150px">취소</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock%}

{% block js %}
<script>
    coverletter_form.onsubmit = (e)=>{
        e.preventDefault();
        $('#loading').show();

        $.ajax({
            "type": "POST",
            "url": location.href,
            "headers" : {
				"Content-Type" : "application/x-www-form-urlencoded"
			},  
            "data": {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'document_type': coverletter_form.document_type.value,
                'title': coverletter_form.title.value,
                'content': coverletter_form.content.value,
            },
            "success": function(response) {
                alert('문서 업로드 완료!')
                location.href = location.origin + response
            },
            "error": function(response){
                alert('error')
                $('#loading').hide();
            }
        })
    }
</script>
{% endblock %}