{% extends "base/main.html" %}

{% block title %}검사 목록{% endblock%}

{% block main_area %}
<div class="container">
    <div class="row d-flex align-items-center h-100">
        <div class="col-lg-12">
            <span class="upload_title"><h1>검사 목록</h1></span>
        </div>
    </div>
    <div class="upload_tr"></div>
    <div>
        <div style="height: 50px">
            <div>
                <input class="form-control" id="search-input"
                       type="text" placeholder="검색" style="width: 300px">
                <button class="btn btn-outline-primary my-2 my-sm-0"
                        type="button" onclick="searchPost()" id="search_button">검색
                </button>
            </div>
            <div class="d-flex justify-content-end">
                <div class="btn-group dropleft" style="width: 70px;">
                    <button type="button"
                            class="btn btn-outline-primary my-2 my-sm-0 dropdown-toggle"
                            data-toggle="dropdown"
                            aria-expanded="false" id="cat_button">
                        정렬
                    </button>
                    <div class="dropdown-menu">
                        <button class="dropdown-item" data-sort-value="all">전체</button>
                        <button class="dropdown-item" data-sort-value="latest">날짜 최신순</button>
                        <button class="dropdown-item" data-sort-value="high">표절률 높은순</button>
                        <button class="dropdown-item" data-sort-value="low">표절률 낮은순</button>
                    </div>
                </div>
            </div>
        </div>
        <form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'cover_letter_delete' %}">
            {% csrf_token %}
            <div class="linebox"></div>
            <table class="table table-hover text-center">
                <thead>
                <tr>
                    <th><input type="checkbox"></th>
                    <th>번호</th>
                    <th>등록일</th>
                    <th>문서 구분</th>
                    <th>이력서 명</th>
                    <th>표절률</th>
                    <th>#</th>
                    <th><input type="checkbox" style="width: 15px; height: 15px;" id="cbx_chkAll"></th>
                </tr>
                </thead>
                <tbody>
                {% for coverletter in coverletter_list %}
                <tr>
                    <td><input type="button" class="like" name="{{ coverletter.id }}" value="Like"></td>
                    <td>{{ coverletter.pk }}</td>
                    <td>{{ coverletter.create_at }}</td>
                    <td>{{ coverletter.document_type }}</td>
                    <td>{{ coverletter.title }}</td>
                    <td>{{ coverletter.rate }}</td>
                    <td><a class="btn btn-outline-secondary align-middle" type="button"
                           style="width:70px; height:30px; font-size:11px"
                           href="{% url 'coverletter_detail' pk=coverletter.pk %}">상세보기</a></td>
                    <td onclick="event.stopPropagation();"><input type="checkbox" name="chk" value="{{coverletter.pk}}"
                                                                  style="width: 15px; height: 15px;">
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="container">
                <div class="d-flex justify-content-end">
                    <div class="m-2">
                        <a type="button" class="btn btn-primary" href="/mypage" style="width: 150px">마이페이지</a>
                    </div>
                    <div class="m-2">
                        <button type="submit" class="btn btn-light" style="width: 150px">삭제</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="linebox_table"></div>
        <div class="container">
            <div class="d-flex justify-content">
                <div class="m-2">
                    <a type="button" class="btn btn-primary" href="{% url 'upload' %}" style="width: 150px">문서 업로드</a>
                </div>
                <div class="m-2">
                    <button type="button" class="btn btn-light" style="width: 150px"
                            onclick="window.location.reload()">
                        새로 고침
                    </button>
                </div>
            </div>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'result_list' %}?page={{page_obj.previous_page_number }}">
                        Previous
                    </a>
                </li>
                {% endif %}

                {% for page_no in page_obj.paginator.page_range %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'result_list' %}?page={{page_no}}">
                        {{ page_no }}
                    </a>
                </li>
                {% endfor %}

                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'result_list' %}?page={{page_obj.next_page_number }}">
                        Next
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    function searchPost(){
        let searchValue =
            document.getElementById("search-input").value.trim();
        if( searchValue.length > 1){
            location.href = location.origin + "/coverletter/list/search/" + searchValue + "/";
        } else {
            alert("검색어를 2글자 이상 작성하세요");
        }
    }

    document.querySelectorAll('.dropdown-item').forEach(function(item) {
        item.addEventListener('click', function() {
            let sortValue = item.dataset.sortValue.trim();
            console.log('선택된 정렬 값:', sortValue);

            // 선택된 값에 기반하여 원하는 동작 수행
            location.href = location.origin + "/coverletter/list/sort/" + sortValue + "/";
        });
    });

    $(".like").click(function(){
        console.log('실행함')
        var pk = $(this).attr('name')
        datas = {'pk': parseInt(pk), 'csrfmiddlewaretoken': '{{ csrf_token }}'}
        console.log(datas)
        $.ajax({
            type: "post",
            url: "{% url 'coverletter_like' %}",
            data: JSON.stringify(datas),
            headers:{
                "Content-Type" : "application/json",
                "X-HTTP-Method-Override" : "POST",
            },
            dataType: "json",
            success: function(response){
                console.log('성공함')
            },
            error: function(request, status, error){
                alert("로그인이 필요합니다.")
                window.location.replace("login/")
            },
        });
    })
</script>
{% endblock%}