{% extends "base/main.html" %}

{% block title %}검사 목록{% endblock%}

{% block main_area %}
<div class="container">
    <div class="row d-flex align-items-center h-100">
        <div class="col-lg-12">
            <span class="upload_title"><h1>검사 목록</h1></span>
        </div>
    </div>
    <div class="upload_tr"></div>
    <div>
        <form class="form-inline my-2 my-lg-0">
            <div>
                <input class="form-control" type="search" placeholder="검색" aria-label="Search" style="width: 300px">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="button">검색</button>
                <div class="upload_tr"></div>
            </div>
            <div class="linebox"></div>
            <table class="table table-hover text-center">
                <thead>
                <tr>
                    <th>번호</th>
                    <th>등록일</th>
                    <th>문서 구분</th>
                    <th>검사 명</th>
                    <th>표절률</th>
                    <th><input type="checkbox" style="width: 15px; height: 15px;" id="cbx_chkAll"></th>
                </tr>
                </thead>
                <tbody onclick="location.href='/detail'"> <!-- 테이블 바디부분을 누르면 상세창으로 이동 -->
                {% for coverletter in coverletter_list %}
                <tr>
                    <td>{{ coverletter.pk }}</td>
                    <td>{{ coverletter.create_at }}</td>
                    <td>{{ coverletter.document_type }}</td>
                    <td>{{ coverletter.title }}</td>
                    <td>{{ coverletter.rate }}</td>
                    <td onclick="event.stopPropagation();"><input type="checkbox" name="chk" style="width: 15px; height: 15px;">
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="container">
                <div class="d-flex justify-content-end">
                    <div class="m-2">
                        <a type="button" class="btn btn-primary" href="/mypage" style="width: 150px">마이페이지</a>
                    </div>
                    <div class="m-2">
                        <button type="submit" class="btn btn-light" style="width: 150px">삭제</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="linebox_table"></div>
        <div class="container">
            <div class="d-flex justify-content">
                <div class="m-2">
                    <a type="button" class="btn btn-primary" href="/upload" style="width: 150px">문서 업로드</a>
                </div>
                <div class="m-2">
                    <button type="button" class="btn btn-light" style="width: 150px"
                            onclick="window.location.reload()">
                        새로 고침
                    </button>
                </div>
            </div>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'result_list' %}?page={{page_obj.previous_page_number }}">
                        Previous
                    </a>
                </li>
                {% endif %}

                {% for page_no in page_obj.paginator.page_range %}
                    <li class="page-item">
                        <a class="page-link" href="{% url 'result_list' %}?page={{page_no}}">
                            {{ page_no }}
                        </a>
                    </li>
                {% endfor %}

                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'result_list' %}?page={{page_obj.next_page_number }}">
                        Next
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% endblock%}