{% extends "base/main.html" %}

{% block title %}표절 검사 상세창{% endblock%}

{% block main_area %}
<div class="container">
    <!--<div>
        <span>검사 설정</span>
    </div>-->
    <div class="row row-cols-1 row-cols-md-2" >
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><span>김자바</span>의 이력서</h5>
                    <div class="linebox"></div>
                    <table class="table table-hover">
                        <tr>
                            <th>표절률</th>
                            <td>60%</td>
                        </tr>
                        <tr>
                            <th>최고 표절률</th>
                            <td>80%</td>
                        </tr>
                        <tr>
                            <th>전체 문장</th>
                            <td><span>52</span>문장</td>
                        </tr>
                        <tr>
                            <th>의심 문장</th>
                            <td><span>45</span>문장</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">그래프같이 시각화 할수 있는 자료놓는 곳</h5>
                    <div class="linebox"></div>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">검사 문서</h5>
                    <div class="linebox"></div>
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title" style="background-color: rgb(226, 226, 226)">문장 표절률 : <span>80</span>%</h6>
                            <span>물류업계의 첫 발을 세방에서 내딛고 싶습니다.</span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title" style="background-color: rgb(226, 226, 226)">문장 표절률 : <span>60</span>%</h6>
                            <span>얼마 전 저는 우연히 유튜브에서 세방그룹의 광고를 접하였습니다.</span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title" style="background-color: rgb(226, 226, 226)">문장 표절률 : <span>40</span>%</h6>
                            <span>0초 남짓한 짧은 영상이었지만 정말 많은 것을 느낄 수 있었습니다.</span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title" style="background-color: rgb(226, 226, 226)">문장 표절률 : <span>80</span>%</h6>
                            <span>물류업계의 첫 발을 세방에서 내딛고 싶습니다.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">비교 문서</h5>
                    <div class="linebox"></div>
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title" style="background-color: rgb(253, 101, 101)">문장 표절률 : <span>80</span>%</h6>
                            <span>물류업계의 첫 발을 세방에서 내딛기 싫습니다.</span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title" style="background-color: rgb(226, 226, 226)">문장 표절률 : <span>60</span>%</h6>
                            <span>얼마 전 저는 우연히 유튜브에서 세방그룹의 광고를 접하였습니다.</span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title" style="background-color: rgb(226, 226, 226)">문장 표절률 : <span>40</span>%</h6>
                            <span>0초 남짓한 짧은 영상이었지만 정말 많은 것을 느낄 수 있었습니다.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}