<div class="navbar-light bg-light">
    <div class="container nav justify-content-end">
        <div class="navbar">
            {% if user.is_authenticated %}
            <a href="/mypage" class="nav-link active">마이페이지</a>
            <a href="{% url 'logout' %}" class="nav-link active">로그아웃</a>
            {% else %}
            <a href="{% url 'login' %}" type="button" class="btn btn-light">로그인</a>
            <a href="{% url 'join' %}" type="button" class="btn btn-light">회원가입</a>
            {% endif %}
            <hr/>
        </div>
    </div>
</div>